@font-face {
    font-family: "UKIJ CJK";
    src: url("UKIJCJK.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "UKIJ CJK", sans-serif;
    background: #f7f5f0;
    color: #222;
    line-height: 1.8;
}
